In [35]:
1.	Take the input from the user for(Total number of people,Number of seats for bus. Based on two inputs
Decide how many number of buses required

total_people = int(input("Enter the total_number of people:" ))
seats_per_bus = int(input("Enter the number of seats per bus: " ))
no_of_buses_required = total_people // seats_per_bus
print(no_of_buses_required)

Enter the total_number of people: 210
Enter the number of seats per bus:  50

4

In [ ]:
2.Take temperature from the user and convert foreign heat -> Celsius.

In [1]:
fahrenheit = 98.6  
celsius = (fahrenheit - 32) * 5 / 9
print("Temperature in Celsius:", celsius)

Temperature in Celsius: 37.0

In [ ]:
3.Take temperature from the user and convert Celsius â†’ foreign heat

In [4]:
celsius = 78.6  
fahrenheit = (fahrenheit + 32) * 5 / 9
print("Temperature in fahrenheit:", fahrenheit)

Temperature in fahrenheit: 39.07407407407408

In [ ]:
4.Take four number from the user (variables name it as x1,x2,x3,x4)
 Do the below operations
 (x1+x2)**2, (x3+x4)**3
variance
standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
Regression
	y=mx+b
          m=1.23
          b=0.045
          find out y
          y=m*(x1+x2+x3+x4)+b
Find the average of four numbers
Find the sum of four numbers

In [36]:
# Taking four integer inputs from the user
import math 
x1 = int(input("Enter the value of x1: "))
x2 = int(input("Enter the value of x2: "))
x3 = int(input("Enter the value of x3: "))
x4 = int(input("Enter the value of x4: "))
# Calculating the expressions
result1 = (x1 + x2) ** 2
result2 = (x3 + x4) ** 3
# Printing the results
print("The result of (x1 + x2)^2 is:", result1)
print("The result of (x3 + x4)^3 is:", result2)
# mean value 
mean = (x1 + x2+ x3 + x4 )//4 
print(mean)
## Squared Differences
numbers = (x1 , x2, x3 , x4 )
sum_sqd_numbers = 0
sqd_numbers = []
for i in numbers:
    sqd = (i - mean) ** 2
    sum_sqd_numbers += sqd
    sqd_numbers.append(sqd)
variance = sum_sqd_numbers/(4-1)
print(" variance : ",variance)    
# standard deviationRegression
std_dev = math.sqrt(variance)
#print(std_dev)
# Regression

## y=mx+b
m=1.23
b=0.045
y  =  m * (x1+x2+x3+x4) +b
print("regression : ", y)
print("standard deviationRegression : ",std_dev)
print("average of four numbers : ",mean)
print("sum of 4 numbers : ",(x1+x2+x3+x4))

Enter the value of x1:  5
Enter the value of x2:  7
Enter the value of x3:  10
Enter the value of x4:  20

The result of (x1 + x2)^2 is: 144
The result of (x3 + x4)^3 is: 27000
10
 variance :  44.666666666666664
regression :  51.705
standard deviationRegression :  6.683312551921141
average of four numbers :  10
sum of 4 numbers :  42

In [ ]:
5.Take the distance in km.Show that in cm, meters, in milli meters, cents, feets, yards

In [3]:
km = float(input("Enter the distance in kilometers: "))
meters = km * 1000        
centimeters = km * 100000 
millimeters = km * 1e6    
feet = km * 3280.84     
yards = km * 1093.61 
print(f"\nDistance in different units:")
print(f"{km} kilometers = {centimeters} centimeters")
print(f"{km} kilometers = {meters} meters")
print(f"{km} kilometers = {millimeters} millimeters")
print(f"{km} kilometers = {feet} feet")
print(f"{km} kilometers = {yards} yards")

Enter the distance in kilometers:  5

Distance in different units:
5.0 kilometers = 500000.0 centimeters
5.0 kilometers = 5000.0 meters
5.0 kilometers = 5000000.0 millimeters
5.0 kilometers = 16404.2 feet
5.0 kilometers = 5468.049999999999 yards

In [ ]:
6.Take the size of your hard disk in GB.Show that in MB, KB, TB, PB

In [4]:
gb = float(input("Enter the size of the hard disk in GB: "))
mb = gb * 1024           
kb = gb * 1024 * 1024    
tb = gb / 1024           
pb = gb / (1024 * 1024)
print(f"\nSize in different units:")
print(f"{gb} GB = {mb} MB")
print(f"{gb} GB = {kb} KB")
print(f"{gb} GB = {tb} TB")
print(f"{gb} GB = {pb} PB")

Enter the size of the hard disk in GB:  500

Size in different units:
500.0 GB = 512000.0 MB
500.0 GB = 524288000.0 KB
500.0 GB = 0.48828125 TB
500.0 GB = 0.000476837158203125 PB

In [ ]:
7.Take name, age, height from the user and print like below
The details of the person: Name:name of the person, Age:age of the person, Height:height of the person

In [25]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height in meters: "))
print(f"The details of the: Name:{name}, Age:{age}, Height:{height}")

Enter your name:  teju
Enter your age:  32
Enter your height in meters:  5.3

The details of the : Name:teju, Age:32, Height:5.3

In [ ]:
8.BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person.

In [6]:
weight = float(input("Enter your weight in kilograms: "))
height = float(input("Enter your height in meters: "))
bmi = weight / (height ** 2)
print(f"Your BMI is: {bmi:.2f}")

Enter your weight in kilograms:  50
Enter your height in meters:  1.78

Your BMI is: 15.78

In [ ]:
9.name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783
By using above inputs print the output
Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344

In [7]:
name = "Jayaram"
age = 1.6
height = 3.5356234
weight = 10.343856783
print("Name:%s, Age:%.1f, Height:%.2f, Weight:%.3f" % (name, age, height, weight))

Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344

In [ ]:
9.Take three upper case letters from the user convert in to small case.

In [24]:
letter1 = input("Enter the first uppercase letter: ")
letter2 = input("Enter the second uppercase letter: ")
letter3 = input("Enter the third uppercase letter: ")
smallercase_letter1 = letter1.lower()
smallercase_letter2 = letter2.lower()
smallercase_letter3 = letter3.lower()
print(f"smallercase letters: {smallercase_letter1}, {smallercase_letter2}, {smallercase_letter3}")

Enter the first uppercase letter:  A
Enter the second uppercase letter:  B
Enter the third uppercase letter:  C

smallercase letters: a, b, c

In [ ]:
10. Take base and exponent value from the user and print like in mathematics:
    example: base=2, exponent=3: 23

In [40]:
# Taking base and exponent as input
base = int(input("Enter the base value: "))
exponent = int(input("Enter the exponent value: "))
if exponent == 2:
    print(f"{base}\u00b2")  
elif exponent == 3:
    print(f"{base}\u00b3")  
else:
    print(f"{base}^{exponent}")

Enter the base value:  2
Enter the exponent value:  3

2Â³

In [ ]:
12.Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.

In [16]:
grocery_costs = [50, 30, 40, 60, 25]
total_cost = sum(grocery_costs)
average_cost = total_cost / len(grocery_costs)
max_cost = max(grocery_costs)
min_cost = min(grocery_costs)
print("Total_Cost:", total_cost)
print("Average_Cost:", average_cost)
print("Maximum_Cost:", max_cost)
print("Minimum_Cost:", min_cost)

Total_Cost: 205
Average_Cost: 41.0
Maximum_Cost: 60
Minimum_Cost: 25